body {
    margin: 0 auto;
    top: 0;
    z-index: 100;
    font-family:Arial, Helvetica, sans-serif;
}

#dashboard {
    background-color:crimson;
    width: 100%;
    height: 200px;
    display: table;
}

#dashboard h1, p {
    color: white;
    padding-left: 25px;
}

#dashboard h1 {
    padding-top: 40px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.applicatievlak {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h2 {
    background-color: crimson;
    padding: 0.4rem;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.applicatieafbeelding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 75px;
    margin-top: 50px;
}

#galgje {
    background-color: rgba(251, 230, 168, 0.495);
}

#steenpapierschaar {
    background-color: rgba(179, 229, 229, 0.495);
}

#burgerschap {
    background-color: rgba(102, 2, 60, 0.495);
}

#overmij {
    background-color: rgba(220, 20, 60, 0.495);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

img:hover {
    transform: scale(1.09);
    transition: all 0.3s ease-in-out 0s;
}